body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}
.loginform {
    width: 100%;
    height: 100%;
    background-image: url(../img/0d9b24189f42fb3f2563ef854b41ab0f.png);
    overflow: auto;
}
.loginform__panel {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    min-width: 300px;
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.loginform__header {
    font-size: 2em;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}
